@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider

<AuthorizeView>
    <Authorized>
        <a href="/profile">Hello, @context.User.Identity?.Name!</a>
        <button class="nav-link btn btn-link" @onclick="Logout">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="/register">Register</a>
        <a href="/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task Logout()
    {
        await LocalStorage.RemoveItemAsync("authToken");
        ((AuthStateProvider)AuthStateProvider).NotifyUserAuthentication(null);
        Navigation.NavigateTo("/", forceLoad: true);
    }
}